@layer spatial {
  [data-component="listbox"] {
    outline: none;

    [data-component="section"] {
      [data-component="header"] {
        [data-slot="label"] {
          color: var(--wui-listbox__section-header-label-color);
          font-weight: var(--wui-listbox__section-header-label-font-weight);
        }
      }
    }

    [data-component="listbox-item"] {
      background: var(--wui-listbox__item-background);
      box-shadow: var(--wui-listbox__item-box-shadow);
      border: var(--wui-listbox__item-border);
      color: var(--wui-listbox__item-color);
      outline: none;

      &[data-selection-mode="single"] {
        [data-slot="indicator"] {
          align-items: center;
          display: flex;
          margin-bottom: calc(3px * var(--wui-scale));
        }
      }

      [data-slot="shortcut"] {
        color: var(--wui-listbox__item-shortcut-color);
        font-family: var(--wui-listbox__item-shortcut-font-family);

        & > kbd {
          font-family: var(--wui-listbox__item-shortcut-font-family);
        }
      }

      &:is([data-hovered], [data-focus-visible]) {
        background: var(
          --wui-listbox__item-background-hovered,
          var(--wui-listbox__item-background)
        );
        box-shadow: var(
          --wui-listbox__item-box-shadow-hovered,
          var(--wui-listbox__item-box-shadow)
        );
        border: var(
          --wui-listbox__item-border-hovered,
          var(--wui-listbox__item-border)
        );
        color: var(
          --wui-listbox__item-color-hovered,
          var(--wui-listbox__item-color)
        );

        [data-slot="shortcut"] {
          color: var(--wui-listbox__item-color-hovered);
        }
      }

      &[data-pressed] {
        --wui-listbox__item-background: var(
          --wui-listbox__item-background-pressed
        );
        --wui-listbox__item-box-shadow: var(
          --wui-listbox__item-box-shadow-pressed
        );
        --wui-listbox__item-border: var(--wui-listbox__item-border-pressed);
        --wui-listbox__item-color: var(--wui-listbox__item-color-pressed);

        [data-slot="shortcut"] {
          color: var(--wui-listbox__item-color-pressed);
        }
      }

      &:has([data-slot="label"] + [data-slot="description"]) {
        [data-slot="label"] {
          color: var(--wui-listbox__item-group-label-color);
          font-weight: var(--wui-listbox__item-group-label-font-weight);
        }

        [data-slot="description"] {
          color: var(--wui-listbox__item-group-description-color);
          font-weight: var(--wui-listbox__item-group-description-font-weight);
        }

        &:is([data-hovered], [data-focus-visible]) {
          [data-slot="label"],
          [data-slot="description"] {
            color: var(--wui-listbox__item-color-hovered);
          }
        }

        &[data-pressed] {
          color: var(--wui-listbox__item-color-pressed);

          [data-slot="description"] {
            color: var(--wui-listbox__item-color-pressed);
          }
        }
      }
    }
  }
}
