@layer spatial {
  [data-component="navigation"] {
    li,
    ul:not([data-component="navigation-group"]),
    [data-component="disclosure"] {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;

      /** not expanded but has an item that is the current item in it */
      &:not([data-expanded]):has(
          [data-component="navigation-group"]
            [data-component="navigation-item"][data-current]
        ) {
        [data-component="navigation-item"] {
          background: var(
            --wui-navigation__item-background-current,
            var(--wui-navigation__item-background)
          );
          border: var(
            --wui-navigation__item-border-current,
            var(--wui-navigation__item-border)
          );
          color: var(
            --wui-navigation__item-color-current,
            var(--wui-navigation__item-color)
          );
        }
      }
    }

    [data-component="disclosure"] {
      [data-component="navigation-group"] {
        height: var(--collapsible-panel-height);
        opacity: 1;
        overflow: hidden;

        @media (prefers-reduced-motion: no-preference) {
          transition-property: height, opacity;
          transition-duration: var(--wui-duration-3);
          transition-timing-function: var(--wui-bezier-1);
        }

        &[data-starting-style],
        &[data-closed],
        &[data-ending-style] {
          opacity: 0;
          height: 0;
        }
      }
    }

    [data-component="navigation-item"] {
      background: var(--wui-navigation__item-background);
      border: var(--wui-navigation__item-border);
      color: var(--wui-navigation__item-color);
      outline: none;
      font-weight: var(--wui-navigation__item-font-weight);

      [data-slot="label"] {
        [data-component="icon"] {
          transition: transform var(--wui-duration-3) var(--wui-bezier-1);
        }
      }

      &:is([data-hovered], :hover) {
        background: var(
          --wui-navigation__item-background-hovered,
          var(--wui-navigation__item-background)
        );
        border: var(
          --wui-navigation__item-border-hovered,
          var(--wui-navigation__item-border)
        );
        color: var(
          --wui-navigation__item-color-hovered,
          var(--wui-navigation__item-color)
        );
      }

      &:is([data-pressed], :active) {
        background: var(
          --wui-navigation__item-background-pressed,
          var(--wui-navigation__item-background)
        );
        border: var(
          --wui-navigation__item-border-pressed,
          var(--wui-navigation__item-border)
        );
        color: var(
          --wui-navigation__item-color-pressed,
          var(--wui-navigation__item-color)
        );
      }

      &[data-current] {
        background: var(
          --wui-navigation__item-background-current,
          var(--wui-navigation__item-background)
        );
        border: var(
          --wui-navigation__item-border-current,
          var(--wui-navigation__item-border)
        );
        color: var(
          --wui-navigation__item-color-current,
          var(--wui-navigation__item-color)
        );
      }

      &[aria-expanded="true"] {
        [data-slot="label"] {
          [data-component="icon"] {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
