@layer spatial {
  [data-component="page"] {
    background: var(--wui-page-background);
    position: relative;

    @media (min-width: 768px) {
      border: var(--wui-page-border);
      box-shadow: var(--wui-page-box-shadow);
    }
  }
}
