@layer spatial {
  [data-component="text"],
  [data-component="heading"],
  [data-component="link"] {
    &[data-contrast="low"] {
      color: var(--wui-typography-low-color);
    }

    &[data-contrast="normal"] {
      color: var(--wui-typography-normal-color);
    }

    &[data-contrast="high"] {
      color: var(--wui-typography-high-color);
    }
  }

  [data-component="text"] {
    font-family: var(--wui-text-font-family);
    letter-spacing: var(--wui-text-letter-spacing);
  }

  [data-component="heading"] {
    font-family: var(--wui-heading-font-family);
    letter-spacing: var(--wui-heading-letter-spacing);
  }
}
