@layer visual {
  [data-component="dialog"] {
    background: var(--wui-dialog-background);
    border: var(--wui-dialog-border);
    box-shadow: var(--wui-dialog-box-shadow);
    opacity: var(--wui-dialog-opacity);
    transform: var(--wui-dialog-transform);

    [data-component="dialog-header"] {
      border-bottom: var(--wui-dialog-header-border);
    }

    [data-slot="title"] {
      color: var(--wui-dialog-title-color);
      font-weight: var(--wui-dialog-title-font-weight);
    }

    [data-slot="description"] {
      color: var(--wui-dialog-description-color);
      font-weight: var(--wui-dialog-description-font-weight);
    }

    [data-component="dialog-footer"] {
      border-top: var(--wui-dialog-footer-border);
    }
  }
}
