@layer visual {
  [data-component="layout"] {
    background: var(--wui-layout-background);

    [data-component="layout-header"] {
      background: var(--wui-layout-header-background);
      border-bottom: var(--wui-layout-header-border-bottom);
    }

    [data-component="layout-sidebar"] {
      background: var(--wui-layout-sidebar-background);
      box-shadow: none;

      &:is([data-state="open"], [data-state="closed"]) {
        background: var(--wui-layout-sidebar-background-open);
        border-right: var(--wui-layout-sidebar-border-right-open);
        box-shadow: var(--wui-layout-sidebar-box-shadow-open);

        @media (min-width: 1024px) {
          background: var(--wui-layout-sidebar-background-open-lg);
          border-right: var(--wui-layout-sidebar-border-right-open-lg);
          border: var(--wui-layout-sidebar-border-open-lg);
        }
      }

      @media (min-width: 1024px) {
        background: var(--wui-layout-sidebar-background-lg);
      }
    }

    [data-component="layout-content"] {
      background: var(--wui-layout-content-background);
    }

    [data-component="layout-overlay"] {
      background: var(--wui-layout-overlay-background);
    }
  }
}
