@layer visual {
  [data-component="listbox"] {
    outline: none;

    [data-component="section"] {
      [data-component="header"] {
        [data-slot="label"] {
          color: var(--wui-listbox-section-header-label-color);
          font-weight: var(--wui-listbox-section-header-label-font-weight);
        }
      }
    }

    [data-component="listbox-item"] {
      background: var(--wui-listbox-item-background);
      box-shadow: var(--wui-listbox-item-box-shadow);
      border: var(--wui-listbox-item-border);
      color: var(--wui-listbox-item-color);
      outline: none;

      &[data-selection-mode="single"] {
        [data-slot="indicator"][data-ascii-dot="true"] {
          align-items: center;
          display: flex;
          margin-bottom: calc(3px * var(--wui-scale));
        }
      }

      [data-slot="shortcut"] {
        color: var(--wui-listbox-item-shortcut-color);
        font-family: var(--wui-listbox-item-shortcut-font-family);

        & > kbd {
          font-family: var(--wui-listbox-item-shortcut-font-family);
        }
      }

      &:is([data-hovered], [data-focus-visible]) {
        background: var(--wui-listbox-item-background-hovered, var(--wui-listbox-item-background));
        box-shadow: var(--wui-listbox-item-box-shadow-hovered, var(--wui-listbox-item-box-shadow));
        border: var(--wui-listbox-item-border-hovered, var(--wui-listbox-item-border));
        color: var(--wui-listbox-item-color-hovered, var(--wui-listbox-item-color));

        [data-slot="shortcut"] {
          color: var(--wui-listbox-item-color-hovered);
        }
      }

      &[data-pressed] {
        --wui-listbox-item-background: var(--wui-listbox-item-background-pressed);
        --wui-listbox-item-box-shadow: var(--wui-listbox-item-box-shadow-pressed);
        --wui-listbox-item-border: var(--wui-listbox-item-border-pressed);
        --wui-listbox-item-color: var(--wui-listbox-item-color-pressed);

        [data-slot="shortcut"] {
          color: var(--wui-listbox-item-color-pressed);
        }
      }

      &:has([data-slot="label"] + [data-slot="description"]) {
        [data-slot="label"] {
          color: var(--wui-listbox-item-group-label-color);
          font-weight: var(--wui-listbox-item-group-label-font-weight);
        }

        [data-slot="description"] {
          color: var(--wui-listbox-item-group-description-color);
          font-weight: var(--wui-listbox-item-group-description-font-weight);
        }

        &:is([data-hovered], [data-focus-visible]) {
          [data-slot="label"],
          [data-slot="description"] {
            color: var(--wui-listbox-item-color-hovered);
          }
        }

        &[data-pressed] {
          color: var(--wui-listbox-item-color-pressed);

          [data-slot="description"] {
            color: var(--wui-listbox-item-color-pressed);
          }
        }
      }
    }
  }
}
