@layer visual {
  [data-component="popover"] {
    background: var(--wui-popover-background);
    border: var(--wui-popover-border);
    border-radius: var(--wui-popover-border-radius);
    box-shadow: var(--wui-popover-box-shadow);
  }
}
