@layer component {
  [data-component="navigation"] {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;

    [data-component="navigation-item"] {
      align-items: center;
      border-radius: var(--wui-border-radius-2);
      cursor: var(--wui-cursor-linkable, default);
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      height: calc(32px * var(--wui-scale));
      margin-bottom: var(--wui-space-1);
      padding-inline: var(--wui-space-3);
      user-select: none;
      width: 100%;

      [data-slot="label"] {
        grid-column-start: 2;
        font-size: var(--wui-font-size-2);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      [data-slot="indicator"] {
        grid-column-start: -1;
        justify-self: end;
        height: calc(20px * var(--wui-scale));
        width: calc(20px * var(--wui-scale));
      }

      [data-slot="action"] {
        grid-column-start: 4;
        margin-right: var(--wui-space-3);
      }

      & > [data-slot="icon"] {
        margin-right: var(--wui-space-4);
        height: 1.1em;
        width: 1.1em;
      }
    }

    [data-component="navigation-group"] {
      display: grid;
      grid-template-columns: auto 1fr auto auto auto;
      grid-column: 2 / -1;
      padding-left: var(--wui-space-4);

      [data-component="navigation-item"] {
        margin-left: calc(-1 * var(--wui-space-3));
      }
    }

    &:has([data-component="navigation-item"] > [data-slot="icon"]) {
      [data-component="navigation-group"] {
        padding-left: 0;
      }
    }
  }
}
