@layer skin {
  [data-skin="winnie"] {
    /* -------------------------------------------------------------------------------------------------
     * Breadcrumbs 
     * -----------------------------------------------------------------------------------------------*/
    [data-component="breadcrumbs"] {
      --wui-breadcrumb-label-color: var(--wui-color-grey-11);
      --wui-breadcrumb-label-color-hovered: var(--wui-color-grey-12);
      --wui-breadcrumb-label-color-pressed: var(--wui-color-grey-12);
      --wui-breadcrumb-label-color-current: var(--wui-color-grey-12);
      --wui-breadcrumb-label-color-disabled: var(--wui-color-grey-10);
      --wui-breadcrumb-icon-color: var(--wui-color-grey-11);
      --wui-breadcrumb-icon-color-hovered: var(--wui-color-grey-12);
      --wui-breadcrumb-icon-color-pressed: var(--wui-color-grey-12);
      --wui-breadcrumb-icon-color-current: var(--wui-color-grey-12);
      --wui-breadcrumb-icon-color-disabled: var(--wui-color-grey-10);
      --wui-breadcrumb-separator-color: var(--wui-color-grey-10);
    }

    /* -------------------------------------------------------------------------------------------------
     * Button
     * -----------------------------------------------------------------------------------------------*/
    [data-component="button"] {
      --wui-button-font-weight: var(--wui-font-weight-medium);

      /* Solid */
      --wui-button-solid-background: var(--wui-color-accent-9);
      --wui-button-solid-border: none;
      --wui-button-solid-border-color: transparent;
      --wui-button-solid-box-shadow: 0 -1px 0 1px var(--wui-color-black-a4) inset, 0 0 0 1px var(--wui-color-black-a4) inset, 0 1px 0 1px var(--wui-color-white-a4) inset;
      --wui-button-solid-color: var(--wui-color-accent-contrast);
      --wui-button-solid-font-weight: var(--wui-font-weight-medium);
      --wui-button-solid-background-hovered: var(--wui-color-accent-10);
      --wui-button-solid-background-pressed: oklch(from var(--wui-color-accent-10) calc(l * 0.9) c h);
      --wui-button-solid-box-shadow-disabled: 0 -1px 0 1px var(--wui-color-grey-a3) inset, 0 0 0 1px var(--wui-color-grey-a3) inset, 0 1px 0 1px var(--wui-color-white-a4) inset;
      --wui-button-solid-background-disabled: var(--wui-color-grey-3);
      --wui-button-solid-color-disabled: var(--wui-color-grey-9);
      --wui-button-solid-box-shadow-pressed: none;

      /* Soft */
      --wui-button-soft-background: var(--wui-color-accent-a3);
      --wui-button-soft-border: none;
      --wui-button-soft-border-color: transparent;
      --wui-button-soft-box-shadow: none;
      --wui-button-soft-color: var(--wui-color-accent-11);
      --wui-button-soft-background-hovered: var(--wui-color-accent-a4);
      --wui-button-soft-background-pressed: var(--wui-color-accent-a5);
      --wui-button-soft-background-disabled: var(--wui-color-grey-a2);
      --wui-button-soft-color-disabled: var(--wui-color-grey-a9);
      --wui-button-soft-box-shadow-pressed: none;

      /* Outlined */
      --wui-button-outlined-background: var(--wui-color-accent-1);
      --wui-button-outlined-border: none;
      --wui-button-outlined-border-color: transparent;
      --wui-button-outlined-box-shadow: 0 -1px 0 1px var(--wui-color-accent-a4) inset, 0 0 0 1px var(--wui-color-accent-a4) inset;
      --wui-button-outlined-color: var(--wui-color-accent-11);
      --wui-button-outlined-color-disabled: var(--wui-color-grey-9);
      --wui-button-outlined-background-hovered: var(--wui-color-accent-3);
      --wui-button-outlined-background-pressed: var(--wui-color-accent-3);
      --wui-button-outlined-background-disabled: var(--wui-color-grey-2);
      --wui-button-outlined-box-shadow-pressed: 0px 0px 1px 1px var(--wui-color-accent-a4) inset;
      --wui-button-outlined-box-shadow-disabled: 0 0 1px 1px var(--wui-color-grey-5);

      /* Plain */
      --wui-button-plain-background: transparent;
      --wui-button-plain-border: none;
      --wui-button-plain-border-color: transparent;
      --wui-button-plain-box-shadow: none;
      --wui-button-plain-color: var(--wui-color-accent-11);
      --wui-button-plain-background-hovered: var(--wui-color-accent-a3);
      --wui-button-plain-background-pressed: var(--wui-color-accent-a4);
      --wui-button-plain-color-disabled: var(--wui-color-grey-a9);
    }

    /* -------------------------------------------------------------------------------------------------
     * Checkbox 
     * -----------------------------------------------------------------------------------------------*/
    [data-component="checkbox"] {
      [data-slot="indicator"] {
        --wui-checkbox-indicator-background-selected: var(--wui-color-accent-9);
        --wui-checkbox-indicator-background-disabled: var(--wui-color-grey-3);
        --wui-checkbox-indicator-background-selected-disabled: var(--wui-color-grey-5);
        --wui-checkbox-indicator-background-selected-invalid: var(--wui-color-red-9);
        --wui-checkbox-indicator-color-selected: var(--wui-color-accent-contrast);
        --wui-checkbox-indicator-color-selected-disabled: var(--wui-color-grey-10);
        --wui-checkbox-indicator-color-disabled: var(--wui-color-grey-9);
        --wui-checkbox-indicator-border-selected: var(--wui-border-width-1) solid var(--wui-color-accent-9);
        --wui-checkbox-indicator-border-selected-invalid: var(--wui-border-width-1) solid var(--wui-color-red-9);
        --wui-checkbox-indicator-box-shadow: var(--wui-shadow-1);
      }

      [data-slot="label"] {
        --wui-checkbox-label-color: var(--wui-color-grey-12);
        --wui-checkbox-label-color-disabled: var(--wui-color-grey-10);
        --wui-checkbox-label-font-weight: var(--wui-font-weight-normal);
        --wui-checkbox-label-font-weight-with-description: var(--wui-font-weight-medium);
      }
    }

    /* -------------------------------------------------------------------------------------------------
     * Field 
     * -----------------------------------------------------------------------------------------------*/
    [data-component="field"] {
      --wui-field-label-color: var(--wui-color-grey-12);
      --wui-field-label-font-weight: var(--wui-font-weight-medium);
      --wui-field-description-color: var(--wui-color-grey-11);
      --wui-field-description-font-weight: var(--wui-font-weight-normal);
      --wui-field-error-color: var(--wui-color-red-11);
      --wui-field-error-font-weight: var(--wui-font-weight-normal);
    }

    /* -------------------------------------------------------------------------------------------------
     * Layout
     * -----------------------------------------------------------------------------------------------*/
    [data-component="layout"] {
      --wui-layout-resize-handle-opacity-dragging: 1;
      --wui-layout-resize-handle-border-radius: var(--wui-border-radius-round);
      --wui-layout-mask-opacity-start: 0;
      --wui-layout-mask-opacity-end: 1;
    }

    /* -------------------------------------------------------------------------------------------------
     * Icon
     * -----------------------------------------------------------------------------------------------*/
    [data-component="icon"] {
      --wui-icon-low-color: var(--wui-color-accent-10);
      --wui-icon-normal-color: var(--wui-color-accent-11);
      --wui-icon-high-color: var(--wui-color-accent-12);
    }

    /* -------------------------------------------------------------------------------------------------
     * Link
     * -----------------------------------------------------------------------------------------------*/
    [data-component="link"] {
      --wui-link-text-decoration-hovered: underline solid var(--wui-color-accent-a7);
    }

    /* -------------------------------------------------------------------------------------------------
     * Listbox
     * -----------------------------------------------------------------------------------------------*/
    [data-component="listbox"] {
      --wui-listbox-section-header-label-color: var(--wui-color-grey-11);
      --wui-listbox-section-header-label-font-weight: var(--wui-font-weight-medium);
    }

    [data-component="listbox-item"] {
      --wui-listbox-item-border: none;
      --wui-listbox-item-border-color: transparent;
      --wui-listbox-item-color: var(--wui-color-grey-12);
      --wui-listbox-item-font-weight: var(--wui-font-weight-normal);
      --wui-listbox-item-background-hovered: var(--wui-color-accent-9);
      --wui-listbox-item-background-pressed: var(--wui-color-accent-10);
      --wui-listbox-item-color-hovered: var(--wui-color-accent-contrast);
      --wui-listbox-item-color-pressed: var(--wui-color-accent-contrast);
      --wui-listbox-item-group-label-color: var(--wui-color-grey-12);
      --wui-listbox-item-group-label-font-weight: var(--wui-font-weight-medium);
      --wui-listbox-item-group-label-color: var(--wui-color-grey-12);
      --wui-listbox-item-group-label-font-weight: var(--wui-font-weight-medium);
      --wui-listbox-item-group-description-color: var(--wui-color-grey-11);
      --wui-listbox-item-group-description-font-weight: var(--wui-font-weight-normal);
      --wui-listbox-item-shortcut-color: var(--wui-color-grey-10);
      --wui-listbox-item-shortcut-font-family: var(--wui-font-family-sans);
    }

    /* -------------------------------------------------------------------------------------------------
     * Navigation
     * -----------------------------------------------------------------------------------------------*/
    [data-component="navigation"] {
      [data-component="navigation-item"] {
        --wui-navigation-item-background: transparent;
        --wui-navigation-item-background-hovered: var(--wui-color-grey-a3);
        --wui-navigation-item-background-pressed: var(--wui-color-grey-a3);
        --wui-navigation-item-background-current: var(--wui-color-grey-a3);
        --wui-navigation-item-color: var(--wui-color-grey-11);
        --wui-navigation-item-color-current: var(--wui-color-grey-12);
        --wui-navigation-item-font-weight: var(--wui-font-weight-medium);
      }
    }

    /* -------------------------------------------------------------------------------------------------
     * Popover
     * -----------------------------------------------------------------------------------------------*/
    [data-component="popover"] {
      --wui-popover-border-radius: min(var(--wui-border-radius-2), 12px);
    }

    /* -------------------------------------------------------------------------------------------------
     * Tooltip 
     * -----------------------------------------------------------------------------------------------*/
    [data-component="tooltip"] {
    }

    /* -------------------------------------------------------------------------------------------------
     * Typography
     * -----------------------------------------------------------------------------------------------*/
    [data-component="text"],
    [data-component="heading"],
    [data-component="link"] {
      --wui-typography-low-color: var(--wui-color-accent-10);
      --wui-typography-normal-color: var(--wui-color-accent-11);
      --wui-typography-high-color: var(--wui-color-accent-12);
    }

    [data-component="text"] {
      --wui-heading-font-family: var(--wui-font-family-sans);
    }

    [data-component="heading"] {
      --wui-heading-font-family: var(--wui-font-family-sans);
      --wui-heading-letter-spacing: var(--wui-letter-spacing-9);
    }
  }

  [data-skin="winnie"]:where([data-theme="light"]) {
    [data-component="checkbox"] {
      --wui-checkbox-indicator-background: var(--wui-color-white);
      --wui-checkbox-indicator-border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
    }

    [data-component="layout"] {
      --wui-layout-background: var(--wui-color-grey-3);
      --wui-layout-mask-background: var(--wui-color-black-a2);
      --wui-layout-mask-opacity-start: 0;
      --wui-layout-mask-opacity-end: 1;
      --wui-layout-sidebar-background-open-xs: var(--wui-color-white);
      --wui-layout-sidebar-open-background: var(--wui-color-white);
      --wui-layout-sidebar-open-border-color: var(--wui-color-grey-6);
      --wui-layout-sidebar-background-open: var(--wui-color-white);
      --wui-layout-sidebar-box-shadow-open: var(--wui-shadow-4);
      --wui-layout-sidebar-border-right-open: var(--wui-border-width-1) solid var(--wui-color-grey-6);
      --wui-layout-sidebar-border-open-lg: var(--wui-border-width-1) solid var(--wui-color-grey-6);
      --wui-layout-resize-handle-background: var(--wui-color-grey-9);
    }

    [data-component="page"] {
      --wui-page-background: var(--wui-color-white);
      --wui-page-border: var(--wui-border-width-1) solid var(--wui-color-grey-5);
      --wui-page-box-shadow: var(--wui-shadow-3);
    }

    [data-component="popover"] {
      --wui-popover-background: var(--wui-color-white);
      --wui-popover-border: var(--wui-border-width-1) solid var(--wui-color-grey-5);
      --wui-popover-box-shadow: var(--wui-shadow-4);
    }

    [data-component="separator"] {
      --wui-separator-background: var(--wui-color-grey-5);
    }

    [data-component="tooltip"] {
      --wui-tooltip-background: var(--wui-color-white);
      --wui-tooltip-border: var(--wui-border-width-1) solid var(--wui-color-grey-5);
      --wui-tooltip-box-shadow: var(--wui-shadow-2);
      --wui-tooltip-color: var(--wui-color-grey-11);
    }
  }

  [data-skin="winnie"]:where([data-theme="dark"]) {
    [data-component="checkbox"] {
      --wui-checkbox-indicator-background: var(--wui-color-grey-3);
      --wui-checkbox-indicator-border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
      --wui-checkbox-indicator-background-disabled: var(--wui-color-grey-5);
    }

    [data-component="layout"] {
      --wui-layout-background: var(--wui-color-black);
      --wui-layout-mask-background: var(--wui-color-black-a4);
      --wui-layout-sidebar-background-open-xs: var(--wui-color-white);
      --wui-layout-sidebar-background-open: var(--wui-color-black);
      --wui-layout-sidebar-box-shadow-open: var(--wui-shadow-4);
      --wui-layout-sidebar-box-shadow-open: var(--wui-shadow-4);
      --wui-layout-sidebar-border-right-open: var(--wui-border-width-1) solid var(--wui-color-grey-3);
      --wui-layout-sidebar-border-open-lg: var(--wui-border-width-1) solid var(--wui-color-grey-3);
      --wui-layout-resize-handle-background: var(--wui-color-grey-7);
    }

    [data-component="page"] {
      --wui-page-background: var(--wui-color-grey-1);
      --wui-page-border: var(--wui-border-width-1) solid var(--wui-color-grey-3);
      --wui-page-box-shadow: var(--wui-shadow-3);
    }

    [data-component="popover"] {
      --wui-popover-background: var(--wui-color-grey-2);
      --wui-popover-border: var(--wui-border-width-1) solid var(--wui-color-grey-5);
      --wui-popover-box-shadow: var(--wui-shadow-4);
    }

    [data-component="separator"] {
      --wui-separator-background: var(--wui-color-grey-5);
    }

    [data-component="tooltip"] {
      --wui-tooltip-background: var(--wui-color-grey-3);
      --wui-tooltip-border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
      --wui-tooltip-box-shadow: var(--wui-shadow-2);
      --wui-tooltip-color: var(--wui-color-grey-11);
    }
  }
}
