@layer winnie.base, winnie.color, winnie.component, winnie.utility;

@import "tailwindcss/theme.css" layer(winnie.base);
@import "tailwindcss/preflight.css" layer(winnie.base);
@import "tailwindcss/utilities.css" layer(winnie.utility);

@layer winnie.base {
  html {
    color-scheme: light dark;
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    height: 100%;
  }

  [data-theme="dark"] {
    color-scheme: dark;
  }
}

/* -------------------------------------------------------------------------------------------------
 * Base 
 * -----------------------------------------------------------------------------------------------*/
@layer winnie.base.typography {
  :root {
    --w-ff-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --w-ff-serif: "Instrument Serif", serif;
    --w-ff-mono: "Geist Mono", monospace;

    --w-fs-1: calc(11px * var(--w-scale, 1));
    --w-fs-2: calc(13px * var(--w-scale, 1));
    --w-fs-3: calc(15px * var(--w-scale, 1));
    --w-fs-4: calc(18px * var(--w-scale, 1));
    --w-fs-5: calc(22px * var(--w-scale, 1));
    --w-fs-6: calc(28px * var(--w-scale, 1));
    --w-fs-7: calc(32px * var(--w-scale, 1));
    --w-fs-8: calc(64px * var(--w-scale, 1));

    --w-fw-1: 400;
    --w-fw-2: 500;
    --w-fw-3: 600;
    --w-fw-4: 700;
    --w-fw-5: 800;

    --w-lh-1: calc(16px * var(--w-scale, 1));
    --w-lh-2: calc(20px * var(--w-scale, 1));
    --w-lh-3: calc(24px * var(--w-scale, 1));
    --w-lh-4: calc(26px * var(--w-scale, 1));
    --w-lh-5: calc(28px * var(--w-scale, 1));
    --w-lh-6: calc(30px * var(--w-scale, 1));
    --w-lh-7: calc(36px * var(--w-scale, 1));
    --w-lh-8: calc(40px * var(--w-scale, 1));
    --w-lh-9: calc(60px * var(--w-scale, 1));
  }
}

@layer winnie.base.radius {
  :root {
    --w-r-1: calc(4px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-2: calc(8px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-3: calc(12px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-4: calc(16px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-5: calc(20px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-6: calc(24px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-7: calc(32px * var(--w-scale, 1) * var(--w-rf, 1));
    --w-r-round: calc(9999px * var(--w-scale, 1) * var(--w-rf, 1));
  }
}

@layer winnie.base.space {
  :root {
    --w-s-1: calc(4px * var(--w-scale, 1));
    --w-s-2: calc(8px * var(--w-scale, 1));
    --w-s-3: calc(12px * var(--w-scale, 1));
    --w-s-4: calc(16px * var(--w-scale, 1));
    --w-s-5: calc(20px * var(--w-scale, 1));
    --w-s-6: calc(24px * var(--w-scale, 1));
    --w-s-7: calc(32px * var(--w-scale, 1));
    --w-s-8: calc(40px * var(--w-scale, 1));
    --w-s-9: calc(48px * var(--w-scale, 1));
    --w-s-10: calc(64px * var(--w-scale, 1));
  }
}

/* -------------------------------------------------------------------------------------------------
 * Color 
 * -----------------------------------------------------------------------------------------------*/
@layer winnie.color.amethyst {
  :root {
    --w-c-h-amethyst: 300;
  }

  [data-theme="dark"] {
    --w-c-amethyst-1: oklch(0.124 0.048 var(--w-c-h-amethyst)); /* app background 1 */
    --w-c-amethyst-2: oklch(0.1665 0.0555 var(--w-c-h-amethyst)); /* app background 2 */
    --w-c-amethyst-3: oklch(0.198 0.066 var(--w-c-h-amethyst)); /* surface background 1 */
    --w-c-amethyst-4: oklch(0.2385 0.0795 var(--w-c-h-amethyst)); /* surface hover */
    --w-c-amethyst-5: oklch(0.2655 0.0885 var(--w-c-h-amethyst)); /* surface pressed */
    --w-c-amethyst-6: oklch(0.32 0.09 var(--w-c-h-amethyst)); /* form borders */
    --w-c-amethyst-7: oklch(0.36 0.09 var(--w-c-h-amethyst)); /* interactive borders */
    --w-c-amethyst-8: oklch(0.4 0.12 var(--w-c-h-amethyst)); /* focus rings */
    --w-c-amethyst-9: oklch(0.45 0.15 var(--w-c-h-amethyst)); /* button default */
    --w-c-amethyst-10: oklch(0.5 0.18 var(--w-c-h-amethyst)); /* button hover */
    --w-c-amethyst-11: oklch(0.55 0.2 var(--w-c-h-amethyst)); /* button pressed */
    --w-c-amethyst-12: oklch(0.78 0.1 var(--w-c-h-amethyst)); /* subtle text */
    --w-c-amethyst-13: oklch(0.88 0.06 var(--w-c-h-amethyst)); /* secondary text */
    --w-c-amethyst-14: oklch(0.95 0.01 var(--w-c-h-amethyst)); /* primary text */
    --w-c-amethyst-contrast: white;

    --w-c-amethyst-g1: oklch(0.144 0.024 var(--w-c-h-amethyst)); /* app background 1 */
    --w-c-amethyst-g2: oklch(0.1665 0.024 var(--w-c-h-amethyst)); /* app background 2 */
    --w-c-amethyst-g3: oklch(0.198 0.024 var(--w-c-h-amethyst)); /* surface background 1 */
    --w-c-amethyst-g4: oklch(0.2385 0.024 var(--w-c-h-amethyst)); /* surface hover */
    --w-c-amethyst-g5: oklch(0.2655 0.024 var(--w-c-h-amethyst)); /* surface pressed */
    --w-c-amethyst-g6: oklch(0.32 0.024 var(--w-c-h-amethyst)); /* form borders */
    --w-c-amethyst-g7: oklch(0.36 0.024 var(--w-c-h-amethyst)); /* interactive borders */
    --w-c-amethyst-g8: oklch(0.4 0.024 var(--w-c-h-amethyst)); /* focus rings */
    --w-c-amethyst-g9: oklch(0.45 0.024 var(--w-c-h-amethyst)); /* button default */
    --w-c-amethyst-g10: oklch(0.5 0.024 var(--w-c-h-amethyst)); /* button hover */
    --w-c-amethyst-g11: oklch(0.55 0.024 var(--w-c-h-amethyst)); /* button pressed */
    --w-c-amethyst-g12: oklch(0.78 0.024 var(--w-c-h-amethyst)); /* subtle text */
    --w-c-amethyst-g13: oklch(0.88 0.024 var(--w-c-h-amethyst)); /* secondary text */
    --w-c-amethyst-g14: oklch(0.95 0.024 var(--w-c-h-amethyst)); /* primary text */
    --w-c-amethyst-gcontrast: white;
  }

  [data-accent-color="amethyst"] {
    --w-c-accent-1: var(--w-c-amethyst-1);
    --w-c-accent-2: var(--w-c-amethyst-2);
    --w-c-accent-3: var(--w-c-amethyst-3);
    --w-c-accent-4: var(--w-c-amethyst-4);
    --w-c-accent-5: var(--w-c-amethyst-5);
    --w-c-accent-6: var(--w-c-amethyst-6);
    --w-c-accent-7: var(--w-c-amethyst-7);
    --w-c-accent-8: var(--w-c-amethyst-8);
    --w-c-accent-9: var(--w-c-amethyst-9);
    --w-c-accent-10: var(--w-c-amethyst-10);
    --w-c-accent-11: var(--w-c-amethyst-11);
    --w-c-accent-12: var(--w-c-amethyst-12);
    --w-c-accent-13: var(--w-c-amethyst-13);
    --w-c-accent-14: var(--w-c-amethyst-14);
    --w-c-accent-contrast: var(--w-c-amethyst-contrast);

    --w-c-accent-g1: var(--w-c-amethyst-g1);
    --w-c-accent-g2: var(--w-c-amethyst-g2);
    --w-c-accent-g3: var(--w-c-amethyst-g3);
    --w-c-accent-g4: var(--w-c-amethyst-g4);
    --w-c-accent-g5: var(--w-c-amethyst-g5);
    --w-c-accent-g6: var(--w-c-amethyst-g6);
    --w-c-accent-g7: var(--w-c-amethyst-g7);
    --w-c-accent-g8: var(--w-c-amethyst-g8);
    --w-c-accent-g9: var(--w-c-amethyst-g9);
    --w-c-accent-g10: var(--w-c-amethyst-g10);
    --w-c-accent-g11: var(--w-c-amethyst-g11);
    --w-c-accent-g12: var(--w-c-amethyst-g12);
    --w-c-accent-g13: var(--w-c-amethyst-g13);
    --w-c-accent-g14: var(--w-c-amethyst-g14);
    --w-c-accent-contrast: var(--w-c-amethyst-gcontrast);

    &[data-mono="true"],
    [data-mono="true"] {
      --w-c-accent-1: var(--w-c-amethyst-g1);
      --w-c-accent-2: var(--w-c-amethyst-g2);
      --w-c-accent-3: var(--w-c-amethyst-g3);
      --w-c-accent-4: var(--w-c-amethyst-g4);
      --w-c-accent-5: var(--w-c-amethyst-g5);
      --w-c-accent-6: var(--w-c-amethyst-g6);
      --w-c-accent-7: var(--w-c-amethyst-g7);
      --w-c-accent-8: var(--w-c-amethyst-g8);
      --w-c-accent-9: var(--w-c-amethyst-g9);
      --w-c-accent-10: var(--w-c-amethyst-g10);
      --w-c-accent-11: var(--w-c-amethyst-g11);
      --w-c-accent-12: var(--w-c-amethyst-g12);
      --w-c-accent-13: var(--w-c-amethyst-g13);
      --w-c-accent-14: var(--w-c-amethyst-g14);
      --w-c-accent-contrast: var(--w-c-amethyst-gcontrast);
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * Component 
 * -----------------------------------------------------------------------------------------------*/
@layer winnie.component.tooltip {
  [data-component="tooltip"] {
    border-radius: var(--w-tooltip-br, var(--w-r-2));
    display: inline-grid;
    grid-template-columns: 1fr auto;
    font-size: var(--w-tooltip-fs, var(--w-fs-1));
    line-height: var(--w-tooltip-lh, var(--w-lh-1));
    min-width: max-content;
    padding-block: calc(var(--w-tooltip-s, var(--w-s-3)) / 3);
    padding-inline: var(--w-tooltip-s, var(--w-s-3));
    user-select: none;

    [data-slot="label"] {
      font-size: var(--w-tooltip-fs, var(--w-fs-1));
      grid-column-start: 1;
      max-width: var(--w-tooltip-mw, calc(200px * var(--w-scale)));
      line-height: var(--w-tooltip-lh, var(--w-lh-1));
    }

    [data-slot="shortcut"] {
      grid-column-start: 2;
      justify-self: end;
      min-width: 2ch;
      margin-left: calc(var(--w-tooltip-s, var(--w-sp-3)));
      text-align: center;
      text-transform: capitalize;

      &:has(> [data-component="kbd"]) {
        display: flex;
      }

      & > [data-component="kbd"] {
        min-width: 2ch;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * Tailwind 
 * -----------------------------------------------------------------------------------------------*/
@theme inline {
  --color-accent-1: var(--w-c-accent-1);
  --color-accent-2: var(--w-c-accent-2);
  --color-accent-3: var(--w-c-accent-3);
  --color-accent-4: var(--w-c-accent-4);
  --color-accent-5: var(--w-c-accent-5);
  --color-accent-6: var(--w-c-accent-6);
  --color-accent-7: var(--w-c-accent-7);
  --color-accent-8: var(--w-c-accent-8);
  --color-accent-9: var(--w-c-accent-9);
  --color-accent-10: var(--w-c-accent-10);
  --color-accent-11: var(--w-c-accent-11);
  --color-accent-12: var(--w-c-accent-12);
  --color-accent-13: var(--w-c-accent-13);
  --color-accent-14: var(--w-c-accent-14);
  --color-accent-contrast: var(--w-c-accent-contrast);

  --color-accent-g1: var(--w-c-accent-g1);
  --color-accent-g2: var(--w-c-accent-g2);
  --color-accent-g3: var(--w-c-accent-g3);
  --color-accent-g4: var(--w-c-accent-g4);
  --color-accent-g5: var(--w-c-accent-g5);
  --color-accent-g6: var(--w-c-accent-g6);
  --color-accent-g7: var(--w-c-accent-g7);
  --color-accent-g8: var(--w-c-accent-g8);
  --color-accent-g9: var(--w-c-accent-g9);
  --color-accent-g10: var(--w-c-accent-g10);
  --color-accent-g11: var(--w-c-accent-g11);
  --color-accent-g12: var(--w-c-accent-g12);
  --color-accent-g13: var(--w-c-accent-g13);
  --color-accent-g14: var(--w-c-accent-g14);
  --color-accent-gcontrast: var(--w-c-accent-gcontrast);

  --color-amethyst-1: var(--w-c-amethyst-1);
  --color-amethyst-2: var(--w-c-amethyst-2);
  --color-amethyst-3: var(--w-c-amethyst-3);
  --color-amethyst-4: var(--w-c-amethyst-4);
  --color-amethyst-5: var(--w-c-amethyst-5);
  --color-amethyst-6: var(--w-c-amethyst-6);
  --color-amethyst-7: var(--w-c-amethyst-7);
  --color-amethyst-8: var(--w-c-amethyst-8);
  --color-amethyst-9: var(--w-c-amethyst-9);
  --color-amethyst-10: var(--w-c-amethyst-10);
  --color-amethyst-11: var(--w-c-amethyst-11);
  --color-amethyst-12: var(--w-c-amethyst-12);
  --color-amethyst-13: var(--w-c-amethyst-13);
  --color-amethyst-14: var(--w-c-amethyst-14);
  --color-amethyst-contrast: var(--w-c-amethyst-contrast);

  --color-amethyst-g1: var(--w-c-amethyst-g1);
  --color-amethyst-g2: var(--w-c-amethyst-g2);
  --color-amethyst-g3: var(--w-c-amethyst-g3);
  --color-amethyst-g4: var(--w-c-amethyst-g4);
  --color-amethyst-g5: var(--w-c-amethyst-g5);
  --color-amethyst-g6: var(--w-c-amethyst-g6);
  --color-amethyst-g7: var(--w-c-amethyst-g7);
  --color-amethyst-g8: var(--w-c-amethyst-g8);
  --color-amethyst-g9: var(--w-c-amethyst-g9);
  --color-amethyst-g10: var(--w-c-amethyst-g10);
  --color-amethyst-g11: var(--w-c-amethyst-g11);
  --color-amethyst-g12: var(--w-c-amethyst-g12);
  --color-amethyst-g13: var(--w-c-amethyst-g13);
  --color-amethyst-g14: var(--w-c-amethyst-g14);
  --color-amethyst-gcontrast: var(--w-c-amethyst-gcontrast);
}

@theme {
  --font-weight-1: var(--w-fw-1);
  --font-weight-2: var(--w-fw-2);
  --font-weight-3: var(--w-fw-3);
  --font-weight-4: var(--w-fw-4);
  --font-weight-5: var(--w-fw-5);

  --font-sans: var(--w-ff-sans);
  --font-serif: var(--w-ff-serif);
  --font-mono: var(--w-ff-mono);

  --leading-1: var(--w-lh-1);
  --leading-2: var(--w-lh-2);
  --leading-3: var(--w-lh-3);
  --leading-4: var(--w-lh-4);
  --leading-5: var(--w-lh-5);
  --leading-6: var(--w-lh-6);
  --leading-7: var(--w-lh-7);
  --leading-8: var(--w-lh-8);
  --leading-9: var(--w-lh-9);

  --radius-1: var(--w-r-1);
  --radius-2: var(--w-r-2);
  --radius-3: var(--w-r-3);
  --radius-4: var(--w-r-4);
  --radius-5: var(--w-r-5);
  --radius-6: var(--w-r-6);
  --radius-7: var(--w-r-7);
  --radius-round: var(--w-r-round);

  --spacing-1: var(--w-s-1);
  --spacing-2: var(--w-s-2);
  --spacing-3: var(--w-s-3);
  --spacing-4: var(--w-s-4);
  --spacing-5: var(--w-s-5);
  --spacing-6: var(--w-s-6);
  --spacing-7: var(--w-s-7);
  --spacing-8: var(--w-s-8);
  --spacing-9: var(--w-s-9);
  --spacing-10: var(--w-s-10);

  --text-1: var(--w-fs-1);
  --text-2: var(--w-fs-2);
  --text-3: var(--w-fs-3);
  --text-4: var(--w-fs-4);
  --text-5: var(--w-fs-5);
  --text-6: var(--w-fs-6);
  --text-7: var(--w-fs-7);
  --text-8: var(--w-fs-8);
  --text-9: var(--w-fs-9);
}
