@layer spatial {
  [data-component="button"] {
    /* border radius */
    --wui-button-1-border-radius: var(--wui-border-radius-2);
    --wui-button-2-border-radius: var(--wui-border-radius-3);
    --wui-button-3-border-radius: var(--wui-border-radius-4);
    --wui-button-kbd-1-border-radius: var(--wui-border-radius-2);
    --wui-button-kbd-2-border-radius: var(--wui-border-radius-2);
    --wui-button-kbd-3-border-radius: var(--wui-border-radius-3);
    --wui-button-kbd-1-border-radius-max: calc(8px * var(--wui-scale));
    --wui-button-kbd-2-border-radius-max: calc(8px * var(--wui-scale));
    --wui-button-kbd-3-border-radius-max: calc(8px * var(--wui-scale));

    /* font size */
    --wui-button-1-font-size: var(--wui-font-size-1);
    --wui-button-2-font-size: var(--wui-font-size-2);
    --wui-button-3-font-size: var(--wui-font-size-3);
    --wui-button-kbd-1-font-size: 0.85em;
    --wui-button-kbd-2-font-size: 0.85em;
    --wui-button-kbd-3-font-size: 0.85em;

    /* height */
    --wui-button-1-height: calc(26px * var(--wui-scale));
    --wui-button-2-height: calc(32px * var(--wui-scale));
    --wui-button-3-height: calc(40px * var(--wui-scale));
    --wui-button-kbd-1-height: calc(var(--wui-button-1-height) - var(--wui-space-1) * 2);
    --wui-button-kbd-2-height: calc(var(--wui-button-1-height) - var(--wui-space-1) * 2);
    --wui-button-kbd-3-height: calc(var(--wui-button-1-height) - var(--wui-space-1) * 2);

    /* icon size */
    --wui-button-1-icon-size: 1em;
    --wui-button-2-icon-size: 1em;
    --wui-button-3-icon-size: 1em;

    /* space */
    --wui-button-1-space: var(--wui-space-3);
    --wui-button-2-space: var(--wui-space-4);
    --wui-button-3-space: var(--wui-space-5);
    --wui-button-kbd-1-space: var(--wui-space-2);
    --wui-button-kbd-2-space: var(--wui-space-3);
    --wui-button-kbd-3-space: var(--wui-space-4);

    align-items: center;
    border-radius: var(--wui-button-border-radius, var(--wui-button-2-border-radius));
    cursor: var(--wui-cursor-pressable, default);
    display: flex;
    isolation: isolate;
    font-size: var(--wui-button-font-size, var(--wui-button-2-font-size));
    gap: var(--wui-button-space, var(--wui-button-2-space));
    height: var(--wui-button-height, var(--wui-button-2-height));
    max-width: min-content;
    min-width: max-content;
    flex-shrink: 0;
    padding-inline: var(--wui-button-space, var(--wui-button-2-space));
    position: relative;
    white-space: nowrap;

    [data-slot="label"] {
      font-size: var(--wui-button-font-size, var(--wui-button-2-font-size));
      line-height: 1;
    }

    [data-slot="icon"] {
      height: var(--wui-button-icon-size, var(--wui-button-2-icon-size));
      width: var(--wui-button-icon-size, var(--wui-button-2-icon-size));
    }

    [data-slot="shortcut"] {
      align-items: center;
      display: flex;
      gap: var(--wui-space-2);
      font-size: var(--wui-button-kbd-font-size, var(--wui-button-kbd-2-font-size));

      [data-component="kbd"] {
        align-items: center;
        border-radius: min(var(--wui-button-kbd-border-radius, var(--wui-button-kbd-2-border-radius)), var(--wui-button-kbd-border-radius-max, var(--wui-button-kbd-2-border-radius-max)));
        display: flex;
        height: var(--wui-button-kbd-height, var(--wui-button-kbd-2-height));
        justify-content: center;
        min-width: var(--wui-button-kbd-height, var(--wui-button-kbd-2-height));
        padding-inline: var(--wui-space-2);
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    [data-slot="pending"] {
      left: 0;
      position: absolute;
      z-index: 1;

      & > svg {
        height: calc(var(--wui-button-icon-size, var(--wui-button-2-icon-size)) * 1.2);
        width: calc(var(--wui-button-icon-size, var(--wui-button-2-icon-size)) * 1.2);
      }
    }

    /* has pending */
    &:has([data-slot="pending"]) {
      &::after {
        border-radius: var(--wui-button-border-radius, var(--wui-button-2-border-radius));
        content: "";
        inset: 0;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      [data-slot="label"],
      [data-slot="icon"],
      [data-slot="shortcut"] {
        opacity: 0;
      }
    }

    /* only a single icon in the button or icon followed by pending slot */
    &:has([data-slot="icon"]:only-child, [data-slot="icon"] + [data-slot="pending"], [data-slot="pending"] + [data-slot="icon"]):not([data-slot="label"]) {
      height: var(--wui-button-height, var(--wui-button-2-height));
      justify-content: center;
      max-width: initial;
      padding: 0;
      width: var(--wui-button-height, var(--wui-button-2-height));
    }

    &[data-size="1"] {
      --wui-button-border-radius: var(--wui-button-1-border-radius);
      --wui-button-font-size: var(--wui-button-1-font-size);
      --wui-button-height: var(--wui-button-1-height);
      --wui-button-icon-size: var(--wui-button-1-icon-size);
      --wui-button-space: var(--wui-button-1-space);
    }

    &[data-size="2"] {
      --wui-button-border-radius: var(--wui-button-2-border-radius);
      --wui-button-height: var(--wui-button-2-height);
      --wui-button-font-size: var(--wui-button-2-font-size);
      --wui-button-icon-size: var(--wui-button-2-icon-size);
      --wui-button-space: var(--wui-button-2-space);
    }

    &[data-size="3"] {
      --wui-button-border-radius: var(--wui-button-3-border-radius);
      --wui-button-height: var(--wui-button-3-height);
      --wui-button-font-size: var(--wui-button-3-font-size);
      --wui-button-icon-size: var(--wui-button-3-icon-size);
      --wui-button-space: var(--wui-button-3-space);
    }

    &[data-width="full"] {
      justify-content: center;
      max-width: initial;
      width: 100%;
    }
  }

  :is(a, span)[data-component="button"] {
    cursor: var(--wui-cursor-linkable, pointer);
    outline: none;
    width: max-content;
  }
}
