@layer spatial {
  [data-component="checkbox"] {
    display: grid;
    grid-template-columns: auto 1fr;

    [data-slot="label"] {
      align-self: center;
      cursor: var(--wui-cursor-pressable, default);
      display: block;
      font-size: var(--wui-field-label-font-size, var(--wui-font-size-2));
      grid-column-start: 2;
      margin-left: var(--wui-space-4);
      user-select: none;
      white-space: nowrap;
    }

    [data-slot="indicator"] {
      /* border radius */
      --wui-checkbox-indicator-sm-border-radius: min(var(--wui-border-radius-2), 5px);
      --wui-checkbox-indicator-md-border-radius: min(var(--wui-border-radius-2), 6px);
      --wui-checkbox-indicator-lg-border-radius: min(var(--wui-border-radius-2), 9px);

      /* font size */
      --wui-checkbox-indicator-sm-font-size: var(--wui-font-size-1);
      --wui-checkbox-indicator-md-font-size: var(--wui-font-size-2);
      --wui-checkbox-indicator-lg-font-size: var(--wui-font-size-3);

      /* size */
      --wui-checkbox-indicator-sm-size: calc(15px * var(--wui-scale));
      --wui-checkbox-indicator-md-size: calc(18px * var(--wui-scale));
      --wui-checkbox-indicator-lg-size: calc(22px * var(--wui-scale));

      /* icon size */
      --wui-checkbox-indicator-sm-icon-size: calc(11px * var(--wui-scale));
      --wui-checkbox-indicator-md-icon-size: calc(13px * var(--wui-scale));
      --wui-checkbox-indicator-lg-icon-size: var(--wui-font-size-3);

      align-items: center;
      border-radius: var(--wui-checkbox-indicator-border-radius, var(--wui-checkbox-indicator-md-border-radius));
      display: flex;
      font-size: var(--wui-checkbox-indicator-font-size, var(--wui-checkbox-indicator-md-font-size));
      height: var(--wui-checkbox-indicator-size, var(--wui-checkbox-indicator-md-size));
      justify-content: center;
      width: var(--wui-checkbox-indicator-size, var(--wui-checkbox-indicator-md-size));

      &[data-size="sm"] {
        --wui-checkbox-indicator-border-radius: var(--wui-checkbox-indicator-sm-border-radius);
        --wui-checkbox-indicator-font-size: var(--wui-checkbox-indicator-sm-font-size);
        --wui-checkbox-indicator-size: var(--wui-checkbox-indicator-sm-size);
        --wui-checkbox-indicator-icon-size: var(--wui-checkbox-indicator-sm-icon-size);
        --wui-checkbox-indicator-space: var(--wui-checkbox-indicator-sm-space);
      }

      &[data-size="md"] {
        --wui-checkbox-indicator-border-radius: var(--wui-checkbox-indicator-md-border-radius);
        --wui-checkbox-indicator-font-size: var(--wui-checkbox-indicator-md-font-size);
        --wui-checkbox-indicator-size: var(--wui-checkbox-indicator-md-size);
        --wui-checkbox-indicator-icon-size: var(--wui-checkbox-indicator-md-icon-size);
        --wui-checkbox-indicator-space: var(--wui-checkbox-indicator-md-space);
      }

      &[data-size="lg"] {
        --wui-checkbox-indicator-border-radius: var(--wui-checkbox-indicator-lg-border-radius);
        --wui-checkbox-indicator-font-size: var(--wui-checkbox-indicator-lg-font-size);
        --wui-checkbox-indicator-size: var(--wui-checkbox-indicator-lg-size);
        --wui-checkbox-indicator-icon-size: var(--wui-checkbox-indicator-lg-icon-size);
        --wui-checkbox-indicator-space: var(--wui-checkbox-indicator-lg-space);
      }
    }

    [data-slot="icon"] {
      height: var(--wui-checkbox-indicator-icon-size, var(--wui-checkbox-indicator-md-icon-size));
      width: var(--wui-checkbox-indicator-icon-size, var(--wui-checkbox-indicator-md-icon-size));
    }
  }
}
