@layer spatial {
  [data-component="dialog"] {
    --wui-dialog-space: var(--wui-space-5);

    border-radius: min(var(--wui-border-radius-4), 16px);
    position: relative;
    outline: none;
    width: 100%;

    [data-component="dialog-header"] {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      padding-top: var(--wui-dialog-space);
      padding-bottom: var(--wui-space-4);
      padding-inline: var(--wui-dialog-space);
      position: relative;
    }

    [data-slot="title"] {
      font-size: var(--wui-font-size-3);
      letter-spacing: var(--wui-letter-spacing-9);
      line-height: 1;
      padding-inline: var(--wui-dialog-space);
    }

    [data-slot="description"] {
      font-size: var(--wui-font-size-2);
      line-height: var(--wui-line-height-3);
      padding-inline: var(--wui-dialog-space);
      width: 100%;
    }

    [data-slot="close"] {
      grid-column-start: 2;
    }

    [data-component="dialog-content"] {
      padding: var(--wui-dialog-space);
    }

    [data-component="dialog-footer"] {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto auto;
      height: var(--wui-dialog-footer-height);
      margin-top: var(--wui-dialog-space);
      padding: var(--wui-dialog-space);

      [data-slot="cancel"] {
        grid-column: 2;
      }

      [data-slot="action"] {
        grid-column: 3;
        margin-left: var(--wui-space-3);
      }
    }

    &[data-size="sm"] {
      width: 50ch;
    }

    &[data-size="md"] {
      width: 60ch;
    }

    &[data-size="lg"] {
      width: 70ch;
    }

    &:not(:has([data-component="dialog-header"])) {
      padding-top: var(--wui-dialog-space);
    }

    &:has([data-component="dialog-content"]) {
      [data-component="dialog-footer"] {
        margin-top: 0;
      }
    }

    /* header title */
    &:has([data-component="dialog-header"] + [data-slot="title"]) {
      [data-slot="title"] {
        margin-top: var(--wui-dialog-space);
      }
    }

    /* title description */
    &:has([data-slot="title"] + [data-slot="description"]) {
      [data-slot="description"] {
        margin-top: var(--wui-space-3);
      }
    }
  }
}
