@layer spatial {
  [data-component="layout"] {
    --wui-layout-sidebar-width: calc(296px * var(--wui-scale));
    --wui-layout-content-header-height: calc(56px * var(--wui-scale));
    --wui-layout-header-height: calc(56px * var(--wui-scale));
    --wui-layout-content-space: var(--wui-space-4);

    display: flex;
    flex-direction: column;
    min-height: 100svh;

    [data-component="layout-header"] {
      align-items: center;
      height: var(--wui-layout-header-height);
      padding-inline: var(--wui-space-6);
    }

    [data-component="layout-overlay"] {
      inset: 0;
      position: fixed;
      z-index: 95;
    }

    [data-component="layout-sidebar"] {
      height: 100%;
      left: calc(-1 * var(--wui-layout-sidebar-width));
      padding: var(--wui-layout-content-space);
      position: fixed;
      top: 0;
      width: var(--wui-layout-sidebar-width);
      z-index: 96;

      &[data-state="docked"] {
        padding-right: 0;
      }

      &[data-state="open"] {
        height: 100%;
        left: 0;
        padding-right: var(--wui-layout-content-space);
        top: 0;
      }

      &[data-state="closed"] {
        left: calc(-1 * var(--wui-layout-sidebar-width));
        top: 0;
      }
    }

    [data-component="layout-content"] {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0;
      width: 100%;
    }

    @media (min-width: 1024px) {
      [data-component="layout-sidebar"] {
        &[data-state="docked"] {
          left: 0;
          top: 0;
        }

        &[data-state="open"] {
          left: var(--wui-layout-content-space);
          top: calc(var(--wui-layout-content-header-height) + var(--wui-layout-content-space));
        }

        &[data-state="closed"] {
          left: calc((-1 * var(--wui-layout-sidebar-width)) + (var(--wui-layout-content-space) / 2));
          top: calc(var(--wui-layout-content-header-height) + var(--wui-layout-content-space));
        }

        &:is([data-state="open"], [data-state="closed"]) {
          height: calc(100% - var(--wui-layout-content-space) * 2 - var(--wui-layout-content-header-height, 60px));
          border-radius: min(var(--wui-border-radius-3), 16px);
        }

        &:not([data-state="open"], [data-state="closed"]) {
          left: 0;
          top: 0;
        }
      }

      [data-component="layout-content"]:has([data-component="page"]) {
        padding-block: var(--wui-layout-content-space);
        padding-inline: var(--wui-layout-content-space);
      }

      &:has([data-component="layout-sidebar"][data-state="docked"]) {
        & > [data-component="layout-content"] {
          padding-left: calc(var(--wui-layout-sidebar-width));
        }
      }

      &:has([data-component="layout-sidebar"]:not([data-state="open"], [data-state="closed"])) {
        & > [data-component="layout-content"] {
          padding-left: calc(var(--wui-layout-sidebar-width));
        }
      }
    }

    @media (max-width: 1024px) {
      &:has([data-slot="layout-toggle"]:checked) {
        [data-component="layout-sidebar"] {
          top: calc(var(--wui-layout-header-height) + var(--wui-layout-content-header-height));
          height: calc(100% - calc(var(--wui-layout-header-height) + var(--wui-layout-content-header-height)));
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
