@layer spatial {
  [data-component="overlay"] {
    &:has([data-component="modal"]) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100vh;
      inset: 0;
      padding-inline: var(--wui-space-4);
      padding-block: calc(var(--wui-space-9) * 3);
      position: fixed;
      width: 100%;
      z-index: 97;

      [data-component="modal"] {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        width: 100%;
      }

      &:has([data-component="dialog"][data-placement="center"]) {
        padding-block: var(--wui-space-4);

        &::before {
          content: "";
          flex-grow: 1;
        }

        &::after {
          content: "";
          flex-grow: 2;
        }
      }
    }
  }
}
