@layer spatial {
  [data-component="page"] {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media (min-width: 768px) {
      border-radius: min(var(--wui-border-radius-3), 18px);
    }

    [data-component="header"] {
      --wui-page-header-height: var(--wui-layout-content-header-height, calc(56px * var(--wui-scale)));
      align-items: center;
      display: grid;
      grid-template-columns: auto 1fr;
      height: var(--wui-page-header-height);
      padding-left: calc(var(--wui-space-9) + var(--wui-space-3)); 
      width: 100%;

      &:has([data-slot="breadcrumbs"]) {
        grid-template-columns: 1px auto 1fr;

        &::after {
          background: red;
          content: "";
          height: calc(var(--wui-page-header-height) - var(--wui-space-8));
          width: 1px;
        }
      }


      [data-slot="breadcrumbs"] {
        grid-start-column: 1;
        margin-left: var(--wui-space-6);
      }
    }


    [data-component="content"] {
      flex: 1;
    }
  }
}
