@layer spatial {
  [data-component="page"] {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media (min-width: 1024px) {
      border-radius: min(var(--wui-border-radius-3), 18px);
    }

    [data-component="header"] {
      --wui-page-header-height: var(--wui-layout-content-header-height, calc(56px * var(--wui-scale)));

      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      height: var(--wui-page-header-height);
      padding-left: calc(var(--wui-space-9) + var(--wui-space-3));
      padding-right: var(--wui-space-4);
      width: 100%;

      &:has([data-slot="breadcrumbs"]) {
        grid-template-columns: 1px 1fr auto;

        & > [data-component="separator"] {
          display: inline-block;
        }

        [data-slot="actions"] {
          grid-start-column: 4;
        }
      }

      & > [data-component="separator"] {
        display: none;
        height: calc(var(--wui-page-header-height) - var(--wui-space-7));
        width: 1px;
      }

      [data-slot="actions"] {
        align-self: center;
        display: flex;
        grid-start-column: 2;
        gap: var(--wui-space-3);
        justify-content: flex-end;
      }

      [data-slot="breadcrumbs"] {
        grid-start-column: 1;
        margin-left: var(--wui-space-6);
      }
    }

    [data-component="content"] {
      flex: 1;
    }
  }
}
